<html>
  <head>
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--Navigation bar-->
    <% include ./includes/navbar.ejs %>
  </head>
  <title>URL Expander</title>
  <body>
    <div class="top">
      <h1>URL Expander</h1>
    </div>
    <div class="d-flex justify-content-center">
      <div
        class="col-lg-offset-4 col-lg-4"
        id="panel"
        style="margin-top: -4rem; width: 70%"
      >
        <form action="/expand" method="POST">
          <br /><br />
          <div class="group">
            <input type="text" required name="shorturl" autocomplete="off" />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Enter Short URL *</label>
          </div>
          <div class="group">
            <label
              >BASE URL - <br /><br />
              <p style="border: 0.5px solid white; padding: 0.7rem">
                <%=baseUrl%>
              </p>
            </label>

            <br /><br />
          </div>
          <br /><br /><br />

          <div class="group" style="text-align: center">
            <button type="submit" class="btn btn-block btn-warning">
              SUBMIT
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
